# Run Scrooge's Bonus

Configure Scrooge/employee strategies and rounds here, then rely on `%run game_helpers.ipynb` for the underlying logic. The helpers implement the standard gift-exchange payoff matrix ([Gift-exchange game](https://en.wikipedia.org/wiki/Gift-exchange_game)).

In [2]:
# Load helpers and sample strategies
%run game_helpers.ipynb
%run sample_players.ipynb

In [ ]:
# ---- Tournament parameters ----
ROUNDS = 4 # this number may change
SCROOGE_STRATEGY = tit_for_tat_scrooge
EMPLOYEE_POOL = {
    "Loyal": loyal_employee,
    "Lazy": lazy_employee,
    "Opportunistic": opportunistic_employee,
}

In [ ]:
multi_results, leaderboard = run_multi_match(
    scrooge_fn=SCROOGE_STRATEGY,
    employee_strategies=EMPLOYEE_POOL,
    rounds=ROUNDS,
)

In [5]:
actions_table, scores_table = build_multi_round_tables(multi_results)
display(actions_table)
display(scores_table)

       Employer Loyal Lazy Opportunistic
round
1         bonus  high  low          high
2      no_bonus  high  low          high
3      no_bonus  high  low           low
4      no_bonus  high  low           low

       Employer  Loyal  Lazy  Opportunistic
round
1             4      2     3              2
2             7      0     1              0
3             5      0     1              1
4             5      0     1              1
Total        21      2     6              4

In [9]:
leaderboard

,employee,rounds,employer_total,employee_total,employer_avg,employee_avg
0,Lazy,4,3,6,0.75,1.5
1,Opportunistic,4,7,4,1.75,1.0
2,Loyal,4,11,2,2.75,0.5

Adjust `ROUNDS`, `SCROOGE_STRATEGY`, or `EMPLOYEE_POOL` above (or `%run` your own strategy notebooks) to explore new tournament configurations. Re-run the execution cells afterwards to refresh the leaderboard and score tables.